<div class="container mx-auto">
  <div class="flex justify-center">
    <div class="w-full md:w-120">
      <%= form_with(url: root_path, method: "get", local: true, required: true, html: { class: 'text-center' }) do |form| %>
        <div class="mb-3">
          <%= form.label :url, 'Введіть URL:', class: 'block text-gray-700 font-bold mb-2' %>
          <%= form.text_field :url, class: 'form-input mt-1 block w-full rounded-md border-gray-300', required: true %>
        </div>

        <div class="actions">
          <%= form.submit 'Сформувати запит', class: 'bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800 ' %>
        </div>
      <% end %>
      <div class="mt-8 page-scraper">
      <% if @scraper %>
        <div class="max-w-lg mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <%= image_tag(@scraper[:image], class: "rounded-t-lg") %>

          <div class="p-5">
            <h6 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Назва товару: <%= @scraper[:title] %></h6>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Опис товару: </b><%= @scraper[:description] %></p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Мінімальна ціна замовлення: </b><%= @scraper[:min_price] %> грн.</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Максимальна ціна замовлення: </b><%= @scraper[:max_price] %> грн.</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b><%= @scraper[:amount] %><b></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div
