<header class="sticky top-0 flex flex-wrap items-center px-4 py-4 bg-blue-100 dark:bg-neutral-700 lg:px-16">
  <div class="hidden w-full h-8 md:flex md:items-center md:w-auto" id="menu">
    <nav>
      <ul class="flex justify-between items-center pt-4 text-base text-gray-700 md:flex md:pt-0 w-full">
        <div class="flex justify-around items-center">
          <li>
            <%= link_to("PageScraper", root_path, class: "bg-blue-500 text-white px-4 py-2 rounded-md") if user_signed_in? %>
          </li>
          <% if user_signed_in? %>
            <h3 class="m-0 text-warning ml-4">Welcome, <%= current_user.email %>!</h3>
            <li class="ml-4">
              <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "bg-blue-500 text-white px-4 py-2 rounded-md justify-end"%>
            </li>
        </div>
          <% else %>
            <li class="ml-4">
              <%= link_to "Sign Up", new_user_registration_path, class: "block px-0 py-3 md:p-4"%>
            </li>
            <li class="ml-4">
              <%= link_to "Sign In", new_user_session_path, class: "block px-0 py-3 md:p-4"%>
            </li>
          <% end %>
      </ul>
    </nav>
  </div>
</header>
